<!doctype HTML>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="/reddit.css">
    </head>
    <body>
    <div>
        <a href="/"><button type="button">Home Page</button></a>
        <h1>Post</h1>
        <h3><%= post.title %></h3>
        <p><b><%= post.content %></b></p>
        <form method="POST" action="/post-comments/<%= post.id %>/comments">   
            <h4>Reply to Post</h4>
            <textarea type="text" name="comment" required></textarea>
            <input type="submit" value="comment"/>
        </form>
        <form method="POST" action="/post-comments/<%= post.id %>/vote">   
            <input type="submit" value="vote"/>
        </form>                                                                                    
        <ul>
        <% comment.forEach((com) => { %>
            <li>
            <%= com.text %>
        <% }); %>
        </ul>

    </div>
</body>